#
# .gitignore
#
# Copyright © 2017 Adrian Kashivskyy. All rights reserved.
#

.DS_Store
.Trashes
.localized

.project
.classpath
.settings
.loadpath
.recommenders
.idea

bin
out
tmp

*.class
*.jar
*.war
*.ear
*.tmp
*.bak
*.swp
*.iws
*.iml
*.properties
